# /root/scripts/acme_scripts/.env

# --- ACME Configuration ---
CF_Token=REPLACE_WITH_YOUR_TOKEN
DuckDNS_Token=REPLACE_WITH_YOUR_TOKEN

# --- Borg Backup Configuration ---
device_name="my-server"
ntfy_server="https://ntfy.06222001.xyz"
ntfy_topic="my-topic"
parallel_backups=true

# Mount points (associative array – only for bash scripts)
declare -A mount_points=(
    ["//10.0.10.169/pc-2"]="/mnt/backups_a"
    ["//10.0.10.115/pc-2"]="/mnt/backups_b"
)