---
- hosts:
    - debian
  # Runs on root user already
  become: false
  tasks:
    - name: Start Backups
      command: tmux new-session -d -s "Borg Backups - Ansible" "bash /root/scripts/backup.sh"
